<section class="page"><div class="centered-box">
    <h1> Login </h1>
        <form action="<%=session_url%>" method="post" > 
            <label for="username_id">Username</label>
            <input type="text" id="username_id" name="user[username]">
            <label for="password_id">Password</label>
            <input type="text" id="password_id" name="user[password]">
            <input type="submit" value="Submit">
        </form>
</div></section>